#full{
	width: 100%;
	height: auto;
}
#header{
	width: 100%;
	height: 100px;
	background:rgba(255,255,255,0.5);
}
#logo{
	width: 30%;
	height: 100px;
	float: left;
}
#nav{
	width: 70%;
	height: 100px;
	float: left;
}
ul li{
	list-style: none;
	float: left;
	width: 14%;
	height:50px;
	line-height: 50px;
	text-align: center;
}
a{
	text-decoration: none;
	color: black;
}
h2{
	padding: 10px;
}
h4{
	padding: 10px;
}
#banner{
	width: 100%;
	height: 400px;
}
#f1{
	height: 100px;
	width: 100%;
	background:rgba(255,255,255,0.5); 
}
#welcome{
	width: 100%;
	height: auto;
}
/*r1.css*/
#bg{
	background-size:100%;
	background-repeat: no-repeat; 
}
#form{
	width: 600px;
	height: auto;

}
td{
	width: 300px;
	height: 50px;	
}